@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Popins", sans-serif;
}
body {
  background: #efefef;
  min-height: 200vh;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 1000000;
}
header.sticky {
  padding: 5px 100px;
  background: rgb(0, 0, 0);
}
header .logo {
  position: relative;
  font-weight: 800;
  color: rgb(252, 4, 4);
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}
header > ul {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
header > ul > li {
  position: relative;
  list-style: none;
}
header > ul > li > a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: rgb(0 0 0);
  letter-spacing: 2px;
  font-weight: 600px;
  transition: 0.6s;
}
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(Beig\ Orange\ Modern\ Minimalist\ Cloud\'s\ Book\ Report\ Presentation\ \(10\).jpg);
}
header.sticky > ul > li > a {
  color: rgb(255, 255, 255);
}
span {
  position: absolute;
  top: 44%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}
.bontut2 {
  position: absolute;
  top: 88%;
  left: 21%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}
.bontut2 > button {
  border-radius: 2rem;
  border-radius: 2rem;
  height: 63px;
  color: white !important;
  width: 259px;
  /* box-sizing: border-box; */
  border: 1px solid #42b883;
  font-weight: unset;
  font-family: inherit;
  background-color: #42b883;
}
.bontut2 > button:hover {
  background-color: #42b883;
  border-color: #42b883;
  border-radius: 800px;
  border-style: solid;
  border-width: 1px;
  box-shadow: #42b883 0px 0px 0px 2px;
  color: white;
  display: inline-block;
  font-family: inherit;
  line-height: 24px;
  margin: 0px 0px 8px;
  padding: 14px 30px;
  text-align: center;
  transition: all 0.2s ease 0s;
  text-decoration: none !important;
}
.text-while {
  top: 28%;
  left: 29%;
}
.text-while-li-ad {
  left: 30%;
  top: 54%;
}
.text-banner {
  font-family: "Popins", sans-serif;
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #42b883;
  letter-spacing: 1px;
  font-weight: unset;
  transition: 0.6s;
  font-size: xxx-large;
}
.text-while-li {
  font-family: "Popins", sans-serif;
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: rgb(0 0 0);
  letter-spacing: 1px;
  font-weight: 100;
  transition: 0.6s;
  font-size: medium;
  margin-top: 9%;
}
.text-while-li > li {
  margin-top: 13px;
}
.slider {
  width: 36%;
  height: 41%;
  border-radius: 10px;
  overflow: hidden;
  float: right;
  margin-top: 13%;
  margin-right: 5%;
}
.slides {
  width: 500%;
  height: 500px;
  display: flex;
}
.slides > input {
  display: none;
}
.slide {
  width: 20%;
  transition: 2s;
}
.slide > img {
  width: 634px;
  height: 362px;
}
.navigation-manual {
  position: absolute;
  width: 35%;
  margin-top: -15%;
  display: flex;
  justify-content: center;
}
.manual-btn {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child) {
  margin-right: 40px;
}
.manual-btn:hover {
  background-color: #40d3dc;
}
#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}
.navigation-auto {
  position: absolute;
  display: flex;
  width: 35%;
  justify-content: center;
  margin-top: 272px;
}
.navigation-auto > div {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}
#radio1:checked _ .navigation-auto .auto-btn1 {
  background-color: #40d3dc;
}
#radio1:checked _ .navigation-auto .auto-btn2 {
  background-color: #40d3dc;
}
#radio1:checked _ .navigation-auto .auto-btn3 {
  background-color: #40d3dc;
}
#radio1:checked _ .navigation-auto .auto-btn4 {
  background-color: #40d3dc;
}
.texbook-baner {
  background-color: #efefef;
  height: 29%;
  display: flex;
  justify-content: center;
}
.img-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 60%;
  padding: 28px;
}
.img-baner {
  background-color: #1d69c9;
  width: 71%;
  height: 97%;
  border-radius: 39px;
  margin-right: 0px;
}

.img-baner > img {
  width: 100%;
  height: 100%;
  border-radius: 33px;
}

.text-right {
  flex-grow: 1;
}
.text-right > p {
  margin-left: 20%;
  margin-right: 20%;
}
.text-right > h1 {
  margin-left: 20%;
  margin-right: 20%;
}
.text-right > button {
  margin-left: 20%;
  margin-right: 20%;
  background-color: 40d3dc;
  height: 11%;
  width: 21%;
  font-weight: 800;
  border-radius: 10px;
  border: 2px solid #40d3dc;
  display: inline-block;
  transition: all 0.2s ease 0s;
  text-decoration: none !important;
}
.text-right > button:hover {
  background-color: #a0ace2;
  border-color: #a0ace2;
  border-style: solid;
  border-width: 1px;
  box-shadow: #a0ace2 0px 0px 0px 2px;
  color: #000000;
  display: inline-block;
  font-family: inherit;
  line-height: 24px;

  text-align: center;
  transition: all 0.2s ease 0s;
  text-decoration: none !important;
}
/* Google Fonts - Poppins */

.body-slider {
  min-height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
}
.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card {
  border-radius: 25px;
  background-color: #fff;
}
.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content {
  position: relative;
  row-gap: 5px;
  padding: 81px 0;
  /* width: 100%; */
  /* height: 116%; */
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070f4;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070f4;
}
.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #fff;
}
.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #fff;
  padding: 3px;
}
.card-image .card-img {
  height: 141%;
  width: 100%;
  object-fit: cover;
  border-radius: 1%;
  border: 4px solid #4070f4;
}
.name {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
.description {
  font-size: 14px;
  color: black;
  text-align: center;
}
.button-slider {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #4070f4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button-slider:hover {
  background: #265df2;
}

.swiper-navBtn {
  color: #6e93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  color: #4070f4;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}
.swiper-button-slider-next {
  right: 0;
}
.swiper-button-slider-prev {
  left: 0;
}
.swiper-pagination-bullet {
  background-color: #6e93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #4070f4;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
}
.snow-container {
  position: fixed;
  width: 100%;
  max-width: 100%;
  z-index: 99999;
  pointer-events: none;
  overflow: hidden;
  top: 0;
  height: 100%;
}

.snow {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -webkit-animation: snow linear infinite;
  animation: snow linear infinite;
}

.snow.foreground {
  background-image: url("https://itexpress.vn/API/files/img/snow-medium.png");
  -webkit-animation-duration: 15s;
  animation-duration: 10s;
}

.snow.foreground.layered {
  -webkit-animation-delay: 7.5s;
  animation-delay: 7.5s;
}

.snow.middleground {
  background-image: url(https://itexpress.vn/API/files/img/snow-medium.png);
  -webkit-animation-duration: 20s;
  animation-duration: 15s;
}

.snow.middleground.layered {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}

.snow.background {
  background-image: url(https://itexpress.vn/API/files/img/snow-medium.png);
  -webkit-animation-duration: 25s;
  animation-duration: 20s;
}

.snow.background.layered {
  -webkit-animation-delay: 12.5s;
  animation-delay: 12.5s;
}

@-webkit-keyframes snow {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    -webkit-transform: translate3d(5%, 100%, 0);
    transform: translate3d(5%, 100%, 0);
  }
}

@keyframes snow {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    -webkit-transform: translate3d(5%, 100%, 0);
    transform: translate3d(5%, 100%, 0);
  }
}
.about-us {
  height: 73vh;
  width: 100%;
  padding: 63px 0;
  background: #efefef;
}
.pic {
  height: 100%;
  width: 22%;
  border-radius: 20px;
}
.about {
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text {
  width: 540px;
}
.text h2 {
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;
}
.text h5 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}

.text p {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}
.data {
  margin-top: 30px;
}
.hire {
  font-size: 18px;
  background: #4070f4;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 8px 25px;
  border-radius: 6px;
  transition: 0.5s;
}
.hire:hover {
  background: #000;
  border: 1px solid #4070f4;
}
.register-form {
  width: 49%;
  padding: 2rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  height: 25%;
  border-radius: 7px;
}

.register-form h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.input-row {
  margin-bottom: 1.5rem;
}
.input-row input {
  width: 100%;
  border: 1px solid #ccc;
  height: 54px;
  line-height: 40px;
  padding: 0 1rem;
  outline: none;
  transition: all 0.3s ease-out;
}
.input-row input:focus {
  border: 1px solid #00bfa6;
  outline: none;
}
.input__note textarea {
  width: 100%;
  min-height: 200px;
  border: 1px solid #ccc;
  user-select: none;
  resize: none;
  padding: 1rem;
}
.input__note textarea:focus {
  border: 1px solid #00bfa6;
}
.input-row {
  position: relative;
}
.input-row:last-child {
  margin-bottom: 0;
}
.input-row.success input {
  border-color: #2ecc71;
}
.input-row.error input {
  border-color: #e74c3c;
}
.input-row small {
  color: #e74c3c;
  position: absolute;
  bottom: -20px;
  left: 0;
  visibility: hidden;
  font-size: 12px;
}
.input-row.error small {
  visibility: visible;
}
.btn {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 15px !important;
}
#btn-register {
  display: inline-block;
  color: #fff;
  background-color: #00bfa6;
  border: 2px solid #00bfa6;
  outline: 0;
  cursor: pointer;
  text-decoration: none !important;
  position: relative;
  z-index: 20;
  overflow: hidden;
  height: 12%;
  width: 25%;
}
.form-rg {
  text-align: -webkit-center;
}
footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
}
.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  background: #111;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
.clock {
  position: relative;
  width: 237px;
  height: 77px;
  margin: 50px auto;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}

.digit {
  width: 50px;
  height: 80px;
  text-align: center;
}

.hour {
  margin-right: 20px;
  color: black;
}

.minute {
  margin-right: 20px;
  color: black;
}

.second {
  color: red;
}
